.hero {
  width: 100%;
  height: 100vh;
  background-image: url("/kau-hero.png"); /* تأكد من الاسم */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  z-index: 1;
}

.hero-text {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4); /* خلفية شفافة خلف النص */
  padding: 20px;
  border-radius: 10px;
}
