.hide-images-container {
  text-align: center;
  margin-top: 1rem;
}

.hide-btn {
  font-size: 24px;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.image-gallery {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.image-gallery img {
  width: 200px;
  height: auto;
  border-radius: 6px;
}
